#root {
  display: grid;
  height: 100vh;
}

.appDiv {
  padding: 1.5rem;
}

.appDiv .header {
  justify-content: flex-start;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}

.blurAppDiv > *:not(.blurBackground){
  filter: blur(5px);
}
