#root {
  display: grid;
  grid-template-columns: 1fr;
}

.appDiv {
  padding: 1.5rem;
}

.appDiv .header {
  justify-content: flex-start;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}
