.collectionsAdd {
    display: flex;
    color: #5D6583;
    flex-wrap: wrap;
    justify-content: space-between;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    margin-left: 7px;
}

.collectionsAdd p {
    font-size: 1.2em;
}

.hide-class {
    display: none;
}

.show-class {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    height: 100vh;
    padding: 0 20px;
}

.collections {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.collectionsAddBtn {
    all: unset;
    cursor: pointer;
}

.bxs-plus-circle:hover {
    color:#5B53FF;
}

:not(.selected).collection:hover{
    background-color: #d9d9d9;
}

.collectionBtn {
    all: unset;
    cursor: pointer;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    padding-left: 20px;
}

.collection {
    display: flex;
    padding: 5px 0;
    font-size: 1.1em;
    border-radius: 13px;
}

.selected {
    background-color: #5B53FF;
    color: white;
}

.deleteCollection {
    all: unset;
    cursor: pointer;
    position: relative;
    left: -9px;
    display: none;
    border-radius: 20px;
    padding: 0 3px;
    align-items: center;
    justify-content: center;
}

.deleteCollection > i {
    font-size: 1.1em;
}

.collection:hover .deleteCollection {
    display: flex;
}

.selected:hover .deleteCollection > i {
    color: white;
}

.collection:hover .deleteCollection:hover{
    background-color: #bcbcbc;
}

.selected:hover .deleteCollection:hover {
    background-color: #4740D0;
}

.permanent:hover .deleteCollection {
    display: none;
}

.permanent:hover .deleteCollection:hover {
    display: none;
}

.collectionInput {
    padding: 8px 0 8px 20px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 13px;
    font-size: 1.1em;
    outline: 2px solid #5B53FF
}

.show-input {
    display: block;
}

.hide-input {
    display: none;
}

